#leftTop{
   position: fixed;
   margin-left: 10px;
   margin-top: 10px;
   opacity: 0.5;
   font-size: 0.6em;
   font-family: 'Roboto Slab',serif;
}
#welcome{
   text-align: center;
   font-family: 'Roboto Slab',serif;
   font-size: 2.6em;
   color: #000;
   margin-top: 25px;
}

#line{
   color: #000;

}

#body1{
}
#welc{
   height: 100px;
}
#alt_text{
   font-size: 1.2em;
   font-family: 'Roboto Slab',serif;
   text-align: center;
   margin-bottom: 15px;
   color: #A0A0A0;
}
#top_nav{
   text-decoration: none;
   font-size: 1.2em;
   display: flex;
   list-style-type: none;
   color: #000;
   padding-left: 0;
}

#top_nav li{
   float: left;
}

#top_nav a{
   display: block;
   text-align: left;
   text-decoration: none;
   width: 100px;
   color: #000;
}

#top_nav a:hover{
   color: #000;
}

#main_body{
   margin-top: 15px;
   margin-left: 150px;
   margin-right: 150px;
   height: 700px;
   border: 0.7px solid #A0A0A0;
   outline-style: 0.7 solid;
}

/*.nav_list{
   text-align: center;
   text-decoration: none;
   color: inherit;
   padding-left: 40px;
   padding-right: 40px;
}
.nav_list :active :hover{
   color: inherit;
   text-decoration: none;
}*/

#head1{
   margin-left: 50px;
   margin-top: 50px;
   color: #A0A0A0;
}

#iam{
   font-style: italic;
   font-weight: 400;
   margin-left: 85px;
   font-size: 1.2em;
   color: #A0A0A0;
}

#descrip{
   margin-left: 85px;
   margin-right: 85px;
   text-align: justify;
   color: #A0A0A0;
}

#changeText{
   color: #000;
   /*text-decoration: underline;*/
}

#abtme{
   display: flex;
}
#img{
   margin-left: 300px;
   margin-top: 10px;
}

#xtrainfo{
   display: flex;
}

#xtrainfo p{
   margin-right: 85px;
   padding-left: 200px;
   margin-top:40px;
   text-align: justify;
}

#resume, #projects{
   height: 1000px;
}
